obj/Debug/net8.0/refint/Advent2023.dll
obj/Debug/net8.0/ref/Advent2023.dll
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/Advent2023.AssemblyInfo.cs
obj/Debug/net8.0/Advent2023.AssemblyInfoInputs.cache
obj/Debug/net8.0/Advent2023.assets.cache
obj/Debug/net8.0/Advent2023.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/Advent2023.csproj.FileListAbsolute.txt
obj/Debug/net8.0/Advent2023.dll
obj/Debug/net8.0/Advent2023.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Advent2023.genruntimeconfig.cache
obj/Debug/net8.0/Advent2023.GlobalUsings.g.cs
obj/Debug/net8.0/Advent2023.pdb
obj/Debug/net8.0/apphost
bin/Debug/net8.0/Advent2023
bin/Debug/net8.0/Advent2023.deps.json
bin/Debug/net8.0/Advent2023.dll
bin/Debug/net8.0/Advent2023.pdb
bin/Debug/net8.0/Advent2023.runtimeconfig.json
obj/Advent2023.csproj.nuget.dgspec.json
obj/Advent2023.csproj.nuget.g.props
obj/Advent2023.csproj.nuget.g.targets
